/* Integrated URL bar & webview */
@media not (-moz-bool-pref:"zen.view.compact"){
    #browser {
      &:has(#navigator-toolbox[zen-expanded="true"]) {
        &:not(:has(.zen-split-view-splitter)) {
          --urlbar-min-width: 28px !important;
  
          #nav-bar {
            --zen-toolbar-height: 36px;
  
            background-color: rgba(0, 0, 0, 0.2) !important; /* URL Bar transparency */
            border-radius: 10px 10px 0px 0px !important;
            padding-left: 6px !important;
            margin-right: 6px !important;
            margin-top: 6px !important;
            margin-left: 1px;
          }
  
          .browserContainer {
            border-radius: 0px 0px 10px 10px !important;
            
          &:not([urlbar-exceeds-toolbar-bounds]) {
              backdrop-filter: blur(10px) saturate(1.5);
            }  
          }
          
          .browserSidebarContainer {
            background-color: rgba(0, 0, 0, 0.12) !important; /* Browser Container transparency */
          } 
        }
      }
    }
  }